<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>채팅</title>
    <link rel="stylesheet" href="..//css/main_layout.css">
    <link rel="stylesheet" href="../css//chat/chat_iframe.css">
    <link rel="stylesheet" href="../css//chat/chat_box.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="../js/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<body>
    <div class="friendList">
        <div class="friendList__list">
            <div class="friendList__list__item">Andy0414</div>
            <div class="friendList__list__item">Andy0414</div>
            <div class="friendList__list__item">Andy0414</div>
            <div class="friendList__list__item">Andy0414</div>
            <div class="friendList__list__item">Andy0414</div>
        </div>
        <div class="friendList__openArrow"></div>
    </div>
    <iframe id="fake" src="https://www.opentutorials.org/course/1"
        frameborder="0"></iframe>
    <div class="chatList">
    </div>
    <script src="../js/animationScheduler.js"></script>
    <script src="../js/chat/chat_box.js"></script>
    <script src="../js/chat/chat_iframe.js"></script>
</body>

</html>