<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>채팅</title>
    <link rel="stylesheet" href="..//css/main_layout.css">
    <link rel="stylesheet" href="../css//chat/chat_iframe.css">
    <link rel="stylesheet" href="../css//chat/chat_box.css">
</head>
<body>
    <iframe id="fake" src="https://daum.net" frameborder="0"></iframe>
    <div class="chatBox">
        <div class="chatBox__content"></div>
        <div class="chatBox__input"></div>
    </div>
</body>
</html>