@import 'main_layout.css';


.topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;

    background-color: none;

    z-index: 100;
}

.topMenu__left {
    color: white;

    font-size: 2em;
    font-weight: bold;

    margin-left: 10%;
}

.topMenu__right {
    color: white;

    font-size: 1.5em;
    font-weight: bold;

    margin-right: 10%;
}

.main {
    width: 100vw;
    height: 100%;

    background-color: #010D14;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.main__content{
    width: calc(70% - 400px);
    height: 600px;
}
.main__content>pre{
    margin-top: 10px;
}
.main__login{
    width: 400px;
    height: auto;
    border: 3px solid #999999;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    display: flex;
    flex-direction: column;
}
.main__login__button{
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #999999;    
}
.main__login__button-disable{
    background-color: rgba(100, 100, 100, 0.1);
    opacity: 0.5;
}

@media (max-width:720px) {
}