.chatBox {
    position: fixed;
    top: 0;
    left: 0;

    background-color: #ffffffbb;
    border-radius: 5px;

    width: 200px;
    height: 300px;

    border: 2px solid #1C79F2;

    display: flex;
    flex-direction: column;

    z-index: 0;

    user-select: none;

    box-shadow: 0px 5px 5px 0px #66666666;

    transition: background-color 0.2s;

    opacity: 0.7;
}
.chatBox:hover{
    opacity: 0.9;
}
.chatBox:active{
    opacity: 1;
    background-color: #ffffffee;
}
.chatBox__resize {
    position: absolute;
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    width: 20px;
    height: 20px;

    z-index: 10;
}

.chatBox__resize:hover {
    cursor: nwse-resize;
}

.chatBox__head {
    padding: 8px;
    font-size: 1.1em;
    border-bottom: 2px solid #1C79F2;
    color: #1C79F2;
}

.chatBox__head__close {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    border-radius: 10px;
}

.chatBox__head__close::before {
    font-weight: bold;
    content: "Ｘ";
}

.chatBox__content {
    padding: 8px;
    flex: 8;
}

.chatBox__content__message {}

.chatBox__input {
    height: 40px;
    display: flex;
}

.chatBox__input__message {
    flex: 10;
    height: 100%;

    outline: none;
    border: none;
    resize: none;

    padding: 5px;

    border-top: 2px solid #1C79F2;
}

.chatBox__input__send {
    flex: 1;
    outline: none;
    background-color: #1C79F2;
    border: none;
    color: white;
}